:root {
  --primary-color: #453c3c;
  --primary-hover-color: #342e2e;
  --primary-alt-color: #d8bdbd;
  --secondary-color: #fb855b;
  --secondary-hover-color: #f4642f;
  --secondary-alt-color: #ffebe4;
  --info-color: #bc9465;
  --info-hover-color: #a97e4c;
  --info-alt-color: #ebe0d3;
  --light-color: #fff;
  --dark-color: #000;
}

$colors: (primary, secondary, info);

@each $color in $colors {
  .text-#{$color} {
    color: var(--#{$color}-color);
  }
  .text-#{$color}-alt {
    color: var(--#{$color}-alt-color);
  }
  .bg-#{$color} {
    background-color: var(--#{$color}-color);
    color: var(--#{$color}-alt-color);
    &.hover {
      transition: 0.15s;
      &:hover {
        background-color: var(--#{$color}-hover-color);
      }
    }
  }
  .bg-#{$color}-alt {
    background-color: var(--#{$color}-alt-color);
    color: var(--#{$color}-color);
    &.hover {
      transition: 0.15s;
      &:hover {
        background-color: var(--#{$color}-hover-color);
        color: var(--#{$color}-alt-color);
      }
    }
  }

  .bd-#{$color} {
    border-color: var(--#{$color}-color) !important;
  }

  .bd-#{$color}-alt {
    border-color: var(--#{$color}-alt-color) !important;
  }
}
