$hamburger-button-width: 60px;
$hamburger-button-height: 60px;
$hamburger-button-padding: 1rem;
$hamburger-bar-space-between: 10px;
$transition-time: 0.4s;

@mixin hamburger-bar($position) {
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: var(--primary-color);
  top: $position;
}

@mixin hamburger-button() {
  @include hamburger-bar(0px);
  position: relative;
  transition: $transition-time;
  &::before {
    @include hamburger-bar(-$hamburger-bar-space-between);
    content: '';
    position: absolute;
  }
  &::after {
    @include hamburger-bar($hamburger-bar-space-between);
    content: '';
    position: absolute;
  }
}

@mixin hamburger-button-size() {
  width: $hamburger-button-width;
  height: $hamburger-button-height;
}

div.hamburger-container {
  @include hamburger-button-size();
  input.hamburger-checkbox {
    @include hamburger-button-size();
    position: absolute;
    z-index: 3;
    opacity: 0;
    cursor: pointer;

    + div.hamburger {
      @include hamburger-button-size();
      $hamburger-button-width: 60px;
      $hamburger-button-height: 60px;
      $hamburger-button-padding: 1rem;
      $hamburger-bar-space-between: 10px;
      $transition-time: 0.4s;

      @mixin hamburger-bar($position) {
        width: 100%;
        height: 5px;
        border-radius: 2px;
        background-color: var(--primary-color);
        top: $position;
      }

      @mixin hamburger-button() {
        @include hamburger-bar(0px);
        position: relative;
        transition: $transition-time;
        &::before {
          @include hamburger-bar(-$hamburger-bar-space-between);
          content: '';
          position: absolute;
        }
        &::after {
          @include hamburger-bar($hamburger-bar-space-between);
          content: '';
          position: absolute;
        }
      }

      @mixin hamburger-button-size() {
        width: $hamburger-button-width;
        height: $hamburger-button-height;
      }

      div.hamburger-container {
        @include hamburger-button-size();
        input.hamburger-checkbox {
          @include hamburger-button-size();
          position: absolute;
          z-index: 3;
          opacity: 0;
          cursor: pointer;

          + div.hamburger {
            @include hamburger-button-size();
            z-index: 2;
            position: absolute;
            padding: $hamburger-button-padding;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0.5;
            > div {
              @include hamburger-button();
            }

            + div.hamburger-content {
              position: fixed;
              width: 0%;
              height: 0%;
              overflow: hidden;
              visibility: hidden;
              transition: $transition-time;
            }
          }

          &:checked + div.hamburger {
            > div {
              transform: rotate(135deg);
              &::before,
              &::after {
                top: 0;
                transform: rotate(90deg);
              }
            }

            + div.hamburger-content {
              width: 100%;
              height: 100%;
              visibility: visible;
              transition: $transition-time;
            }
          }
        }
      }

      padding: $hamburger-button-padding;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0.5;
      > div {
        @include hamburger-button();
      }

      + div.hamburger-content {
        position: fixed;
        width: 0%;
        height: 0%;
        overflow: hidden;
        visibility: hidden;
        transition: $transition-time;
      }
    }

    &:checked + div.hamburger {
      > div {
        transform: rotate(135deg);
        &::before,
        &::after {
          top: 0;
          transform: rotate(90deg);
        }
      }

      + div.hamburger-content {
        width: 100%;
        height: 100%;
        visibility: visible;
        transition: $transition-time;
      }
    }
  }
}

nav.navbar {
  position: fixed;
  z-index: 1;
}

div.sidebar-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 1;
  + div.sidebar {
    position: absolute;
    width: 400px;
    height: 100vh;
    background-color: #fff;
    z-index: 1;
    div.sidebar-title {
      height: $hamburger-button-height;
      padding-left: $hamburger-button-width;
      display: flex;
      align-items: center;
      font-size: 1.5rem;
    }
    div.sidebar-content {
      height: $hamburger-button-height;
      padding-left: $hamburger-button-padding;
      font-size: 1.5rem;
    }
  }
}
