div.timeline {
  margin: 20px auto;
  padding: 20px;
  position: relative;
  > div.period-line {
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    left: 168px;
  }
  div.timeline-content-wrapper {
    display: grid;
    grid-template-columns: 150px 1fr;
    position: relative;
    div.period {
      margin: 10px 20px 20px 0;
      > div.period-mark {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background: var(--light-color);
        border-radius: 999px;
        left: 141px;
        border: 3px solid;
        box-sizing: content-box;
      }
    }
    div.card {
      margin: 0 0 20px 20px;
    }
  }
}

@media (max-width: 768px) {
  div.timeline {
    > div.period-line {
      left: 18px;
    }
    div.timeline-content-wrapper {
      grid-template-columns: 1fr;
      div.period {
        margin: 10px 0 10px 20px;
        > div.period-mark {
          left: -9px;
        }
      }
      div.card {
        margin: 0 0 20px 20px;
      }
    }
  }
}
