@use './color';
@use './text';
@use './navigation';
@use './container';
@use './timeline';
@use './component';
@use './modal';

* {
  box-sizing: border-box;
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}
