:root {
  --primary-color: #333;
  --secondary-color: #b6aeae;
  --light-color: #fff;
  --dark-color: #000;
  --accent-color: #ff4500;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-accent {
  color: var(--accent-color);
}

.bg-primary {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
  color: var(--dark-color);
}

.bg-accent {
  background-color: var(--accent-color);
  color: var(--light-color);
}
