:root {
  --primary-color: #453c3c;
  --secondary-color: #fb855b;
  --info-color: #a6a0a0;
  --light-color: #fff;
  --dark-color: #000;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-info {
  color: var(--info-color);
}

.bg-primary {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
  color: var(--dark-color);
}

.bg-info {
  background-color: var(--info-color);
  color: var(--dark-color);
}
