:root {
  --primary-color: #453c3c;
  --primary-hover-color: #342e2e;
  --secondary-color: #fb855b;
  --secondary-hover-color: #f4642f;
  --info-color: #a6a0a0;
  --info-hover-color: #797575;
  --light-color: #fff;
  --dark-color: #000;
}

$colors: (primary, secondary, info);

@each $color in $colors {
  .text-#{$color} {
    color: var(--#{$color}-color)
  }
  .bg-#{$color} {
    background-color: var(--#{$color}-color);
    color: var(--light-color);
    &.hover {
      transition: 0.15s;
      &:hover {
        background-color: var(--#{$color}-hover-color);
      }
    }
  }
}
