div.timeline {
  margin: 20px auto;
  padding: 20px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    left: 168px;
    background-color: var(--primary-color);
  }
  div.timeline-content-wrapper {
    display: grid;
    grid-template-columns: 150px 1fr;
    position: relative;
    div.time {
      margin: 10px 20px 20px 0;
      &::before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background: #ffffff;
        border-radius: 999px;
        left: 141px;
        border: 3px solid var(--accent-color);
        box-sizing: content-box;
      }
    }
    div.card {
      margin: 0 0 20px 20px;
    }
  }
}

@media (max-width: 768px) {
  div.timeline {
    &::before {
      left: 18px;
    }
    div.timeline-content-wrapper {
      grid-template-columns: 1fr;
      div.time {
        margin: 10px 0 10px 20px;
        &::before {
          left: -9px;
        }
      }
      div.card {
        margin: 0 0 20px 20px;
      }
    }
  }
}
