.career-background {
  background-color: #e4e2e2;
  .career-layout {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

// @media screen and (max-width: 768px) {
//   .about-layout {
//     flex-direction: column;
//     .about {
//       width: 90% !important;
//     }
//   }
// }

// Timeline

.timeline {
  // background: var(--primary-color);
  margin: 20px auto;
  padding: 20px;
  .outer {
    border-left: 2px solid #333;
    .custom-card {
      position: relative;
      margin: 0 0 20px 20px;
      padding: 10px;
      background: #333;
      color: gray;
      border-radius: 8px;
      max-width: 400px;
      .info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .title {
          color: orangered;
          position: relative;
          &::before {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            background: white;
            border-radius: 999px;
            left: -39px;
            border: 3px solid orangered;
            box-sizing: content-box;
          }
        }
      }
    }
  }
}

/* Outer Layer with the timeline border */

/* Card container */

/* Information about the timeline */

/* Title of the card */

/* Timeline dot  */