div.timeline {
  margin: 20px auto;
  padding: 20px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    left: 168px;
    background-color: #333;
  }
  div.timeline-content-wrapper {
    display: grid;
    grid-template-columns: 150px 1fr;
    div.time {
      margin: 0 20px 20px 0;
      margin-top: 6px;
    }
    div.card {
      margin: 0 0 20px 20px;
      &::before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background: white;
        border-radius: 999px;
        left: -29px;
        border: 3px solid orangered;
        box-sizing: content-box;
      }
    }
  }
}
