.timeline {
  margin: 20px auto;
  padding: 20px;
  .outer {
    border-left: 2px solid #333;
    div.card::before {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      background: white;
      border-radius: 999px;
      left: -29px;
      border: 3px solid orangered;
      box-sizing: content-box;
    }
  }
}
